<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Video</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="name">Video Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="file">Select Video:</label>
        <input type="file" id="file" name="file" required>
        <br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
